<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clear.mapper.SailMapper">

    <select id="queryUserSite"
            parameterType="com.clear.param.input.UserIdParam"
            resultType="java.lang.String">
        select station_code from relation_user_sta
        <where>
            <if test="item.userId!=null and item.userId!=''">
                user_id= #{item.userId}
            </if>
        </where>
    </select>

    <select id="queryUserSiteDetail"
            parameterType="com.clear.param.input.UserIdParam"
            resultType="com.clear.param.output.SiteOut">
        select
        stationcode as id,
        name,
        statecode,
        elevation,
        latitude,
        longitude,
        utcoffset,
        aqscode,
        fullaqscode,
        isactive,
        isapproved,
        intlcode,
        ismobile,
        modified,
        picname,
        orderid from site
        where stationcode
        IN
        <foreach collection="items" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryInstrument" resultType="com.clear.entity.Instrument">
        select
        instrumentid,
        stationcode,
        model
        from instrument
        <where>
            <if test="item.stationcode!=null and item.stationcode!=''">
                stationcode= #{item.stationcode}
            </if>
            <if test="item.model!=null and item.model!=''">
                and model= #{item.model}
            </if>
        </where>
    </select>

    <select id="querySailStatus" resultType="com.clear.entity.Sail">
        select sail_id,
        start_time,
        start_user_id,
        end_time,
        end_user_id,
        station_id
        from sail
        where  station_id in
        <foreach collection="items" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by sail desc
    </select>

    <select id="queryInstrumentParameter" resultType="java.lang.Integer">
        select
        parameterid,
        unit
        from instrumentparameters
        where instrumentid =#{instrumentid}
        order by parameterid
    </select>

    <select id="queryHistoryList"
            parameterType="com.clear.paramtemp.SailParamTemp"
            resultType="com.clear.param.output.VocHistoryOut">
        select
        sail_id as taskID,
        start_time as timeS,
        start_user_id,
        end_time as timeE,
        end_user_id,
        station_id as busID
        from sail
        <where>
            <if test="item.startTime!=null">
                start_time &gt;=#{item.startTime}
            </if>
            <if test="item.startTime!=null">
                and end_time &lt;=#{item.endTime}
            </if>
            and station_id in
            <foreach collection="item.stationCodeS" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            order by start_time desc
        </where>
    </select>

    <select id="queryVocData"
            parameterType="com.clear.paramtemp.VocTemp"
            resultType="com.clear.entity.Data">
        select parameterid,value,lst
        from data
        <where>
            <if test="item.stationcode!=null and item.stationcode!=''">
                stationcode=#{item.stationcode}
            </if>
            <if test="item.parameterid!=null and item.parameterid!=''">
                and parameterid=#{item.parameterid}
            </if>
            <if test="item.durationid!=null and item.durationid!=''">
                and durationid=#{item.durationid}
            </if>
            <if test="item.startTime!=null">
                and lst &gt;=#{item.startTime}
            </if>
            <if test="item.endTime!=null">
                and lst &lt;=#{item.endTime}
            </if>
            and instrumentid in
            <foreach collection="item.instrumentids" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            order by lst
        </where>
    </select>
</mapper>
